name: Lint and tests

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:

  lint:
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.8.19"

    - name: Install the project
      run: uv sync --locked --dev

    - name: Run lint
      run: make lint

  test:
    strategy:
      fail-fast: true
      matrix:
        os:
          - "ubuntu-latest"
          - "windows-latest"
          - "macos-latest"
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.8.19"
        python-version: ${{ matrix.python-version }}
        enable-cache: true

    - name: Install the project (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: uv sync --locked --extra vllm --dev

    - name: Install the project (Non-Linux)
      if: matrix.os != 'ubuntu-latest'
      run: uv sync --locked --dev

    - name: Run tests
      run: uv run pytest tests --cov=gimkit --cov-report=xml:coverage.xml -vv --durations=10

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Minimize uv cache
      run: uv cache prune --ci
